<!DOCTYPE html>
<html>
  <head>
    <title>Music Swap</title>
    <link rel="stylesheet" href="/css/music-swap.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=open+sans">
  </head>

  <body>
    <div id="header">
      <div class="navigation">
        <a href="/">Music Swap</a>
      </div>
    </div>
    <div id="content">
      {% if entries %}
      {% for entry in entries %}
      <div class="entry">
        <!-- play around with date formating -->
        <div class="entry-date">{{entry.date.strftime("%B %d, %Y")}}</div>
        {% for media in entry.oembed_media_urls %}
        <div class="entry-media">{{media | safe}}</div>
        {% endfor %}
        <div class="entry-body">{{entry.body}}</div>
        <div class="entry-meta-data">
            <div class="entry-author">posted by: {{entry.author}}</div>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <div class="empty">
        <p class="nothing">No entries, go tap the Indie Music Machine...</p>
      </div>
      {% endif %}
    </div> <!-- content div -->
  </body>
</html>



